<!DOCTYPE html>

<html lang="en" class="default-style layout-fixed layout-navbar-fixed">


<!-- Mirrored from html.phoenixcoded.net/empire/bootstrap/default/pages_authentication_login-v1.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 18 Aug 2020 20:17:25 GMT -->
<head>
    <title>Login | ChurchApp</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="ChurhManagementSystem" />
    <meta name="keywords" content="ChurhManagementSystem">
    <meta name="author" content="Codedthemes" />
    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Icon fonts -->
    <link rel="stylesheet" href="~/fonts/fontawesome.css">
    <link rel="stylesheet" href="~/fonts/ionicons.css">
    <link rel="stylesheet" href="~/fonts/linearicons.css">
    <link rel="stylesheet" href="~/fonts/open-iconic.css">
    <link rel="stylesheet" href="~/fonts/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="~/fonts/feather.css">
                                 
    <!-- Core stylesheets -->    
    <link rel="stylesheet" href="~/css/bootstrap-material.css">
    <link rel="stylesheet" href="~/css/shreerang-material.css">
    <link rel="stylesheet" href="~/css/uikit.css">
                                 
    <!-- Libs -->                
    <link rel="stylesheet" href="~/libs/perfect-scrollbar/perfect-scrollbar.css">
    <!-- Page -->                
    <link rel="stylesheet" href="~/css/pages/authentication.css">
</head>

<body>
    <!-- [ Preloader ] Start -->
    @*<div class="page-loader">
        <div class="bg-primary"></div>
    </div>*@
    <!-- [ Preloader ] End -->
    <!-- [ content ] Start -->
    <div class="authentication-wrapper authentication-1 px-4">
        <div class="authentication-inner py-5">

            @RenderBody()

        </div>
    </div>
    <!-- [ content ] End -->
    <!-- Core scripts -->
    <script src="~/js/pace.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/libs/popper/popper.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/sidenav.js"></script>
    <script src="~/js/layout-helpers.js"></script>
    <script src="~/js/material-ripple.js"></script>

    <!-- Libs -->
    <script src="~/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <!-- Demo -->
    <script src="~/js/demo.js"></script>
    <script src="~/js/analytics.js"></script>
</body>


<!-- Mirrored from html.phoenixcoded.net/empire/bootstrap/default/pages_authentication_login-v1.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 18 Aug 2020 20:17:25 GMT -->
</html>