
@{
    ViewData["Title"] = "ResetForgotPasswordSuccess";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!-- [ Form ] Start -->
<div class="card">
    <div class="p-4 p-sm-5">
        <div class="display-1 lnr lnr-checkmark-circle text-center text-success mb-4"></div>
        <p class="text-center text-big mb-4">Your Password Was Changed successfully.</p>
        <a asp-action="Login" asp-controller="Accounts" class="btn btn-primary btn-block">Proceed to your account</a>
    </div>
</div>
<!-- [ Form ] End -->

